<div class="col col-lg-2" id="leftPanel" style="background:#263238;padding:0px">


            <div style="background:#F4C05C;width:100%;display:flex;flex-direction:column;align-items:center;padding:20px">
                
                <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png" height="90px"/>
                
                <p style="padding:10px,10px;color:#fff">
                {% block username %}
                    {% if is_granted('ROLE_COMPANY') %}
                        <p style="font-weight:bold">{{ app.user.username }}</p>
                        <p style="font-weight:bold;padding-bottom:3px;margin:0px">{{ app.user.companys.name  }}</p>
                        <p style="font-weight:bold;padding:0px">({{ app.user.companys.address }})</p>
                        <a href="{{ path('logout') }}" class="row" style="padding: 5px 0px;display:flex;flex-direction:row;justify-content:center;text-decoration:none;text-align:center;color:#fff">
                        <img src="{{ asset('images/logout.svg') }}" height="30px"/>
                        </a>
                    {% elseif is_granted('ROLE_DRIVER') %}
                        <p style="font-weight:bold">{{ app.user.username }}</p>
                        {# <p style="font-weight:bold;padding-bottom:3px;margin:0px">{{ app.user.companys.name  }}</p>
                        <p style="font-weight:bold;padding:0px">({{ app.user.companys.address }})</p> #}
                        <a href="{{ path('logout') }}" class="row" style="padding: 5px 0px;display:flex;flex-direction:row;justify-content:center;text-decoration:none;text-align:center;color:#fff">
                        <img src="{{ asset('images/logout.svg') }}" height="30px"/>
                        </a>
                    {% endif %}
                {% endblock %}
                </p>
            </div>

            {% block panelOptions %}
                {% if is_granted('ROLE_COMPANY') %}
                    <a href="{{ path('show_car') }}" class="row option">Coches</a>
                    <a href="{{ path('show_drivers') }}" class="row option" >Conductores</a>
                {% elseif is_granted('ROLE_DRIVER') %}
                    {#<a href="{{ path('show_car') }}" class="row option">Coches</a>#}
                    <a href="#" class="row option" >Opción taxista</a>
                {% endif %}
            {% endblock %}
</div>