{% extends 'base.html.twig' %}

{% block main %}
    <main>
        <div class="container col-lg-12" style="padding:25px 30px;min-height:100vh;display:flex;align-items:center;" >
            <div class="card col-lg-5 offset-lg-3"  style="background:#F4C05C">
               
                <div class="card-body">
                 <h1  style="font-weight:bold; padding:10px">Platform Taxi Proyect</h1>

                    <h3 style="font-weight:bold; padding:10px">Datos Usuario</h3>

                        <div class="form-group">
                            <label for="email"  class="boldText">Email</label>
                            <input required name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduce email">
                        </div>
                        <div class="form-group">
                            <label for="password1" class=" boldText">Contraseña</label>
                            <input required name="password1" type="password" class="form-control" id="password1" placeholder="Introduce contraseña">
                        </div>

                        <div class="form-group">
                            <label for="password2" class=" boldText">Repita contraseña</label>
                            <input required name="password2" type="password" class="form-control" id="password2" placeholder="Repita contraseña">
                        </div> 

                        <div class="form-group">
                            <label for="phone" class=" boldText">Teléfono</label>
                            <input required name="phone" type="tel" class="form-control" id="phone" placeholder="Introduce teléfono">
                        </div>

                        <h3 class="" style="font-weight:bold; padding:10px">Datos Conductor</h3>

                        <div class="form-group">
                            <label for="driverName" class=" boldText">Nombre</label>
                            <input required name="driverName" type="text" class="form-control" id="driverName" placeholder="Repita contraseña">
                        </div>

                        <div class="form-group">
                            <label for="driverLastname" class=" boldText">Apellidos</label>
                            <input required name="driverLastName" type="text" class="form-control" id="driverLastName" placeholder="Repita contraseña">
                        </div>

                        <div>
                            <label for="car" class=" boldText">Asignar coche</label>
                            <select class="form-control" style="margin-bottom:20px" name="car" id="car">
                                <option value=NULL>Sin coche</option>
                                {% for car in cars %}
                                <option value={{car['id']}}>{{car['trademark']}} {{car['model']}} {{car['version']}} - {{car['plate']}}</option>
                                {% endfor %}

                            </select>

                        </div>

                        <button  class="btn" style="background:#263238;color:#F4C05C;font-weight:bold;font-size:1.1rem" id="btnRegister">Registrar</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    $('#btnRegister').click(()=>{
            $.ajax({
                url: "{{ path('ajax_register_driver') }}",
                type: 'POST',
                dataType: 'json',
                data: { 
                    email: $('#email').val() , 
                    password1: $('#password1').val(), 
                    password2: $('#password2').val(), 
                    phone: $("#phone").val(),
                    driverName: $("#driverName").val(),
                    driverLastName: $("#driverLastName").val(),
                    car: $("#car").val(),
                    idCompany: {{ companyId }}
                },
                success: function(result){

                    if (!result.status){
                        Swal.fire(
                        result.message,
                        "",
                        "error"
                        )       
                        console.log(result);       
                    }else{
                        Swal.fire(
                        result.message,
                        "",
                        "success"
                        )    

                        //setTimeout(function(){ window.location.href = "login" }, 1500);
                        
                    }
                    
                    
                },
            });
    });
</script>

{% endblock %}